body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tablero {
    place-items: center;
    width: 390px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 12px;
}

.letra {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 60px;
    width: 60px;
    border: 4px solid #c5c5c5;
    color: #515050;
    font-weight: 800;
}

.acierto {
    background-color: #0a902b;
}

.casiAcierto {
    background-color: #e8e80a;
}

.fallo {
    background-color: #b8b6b6;
}

.palabraInvalida {
    border: 4px solid #db1b1b;
}